<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../static/css/quiz.css" th:href="@{/css/quiz.css}" rel="stylesheet" />
</head>
<body>
	<p th:if="${lessons.isEmpty()}">This course currently has no lessons.</p>
	<span th:unless="${lessons.isEmpty()}">
		<span th:each="i : ${#numbers.sequence(0, lessons.size() - 1)}">
			<a href="/test" th:href="@{/course/show(page=${i + currPage * 10})}">
				<br th:text="${lessons.get(i).getTitle()}"/>
			</a>
		</span>
	</span>
	<span th:if="${not isFirst}">
		<a th:href="@{/course(page=${currPage - 1})}">
			Previous
		</a>
	</span>
	<span th:text="${currPage}"></span>
	<span th:if="${not isLast}">
		<a th:href="@{/course(page=${currPage + 1})}">
			Next
		</a>
	</span>
	<br>
	<a href="/course/edit">Add lesson</a>
</body>
</html>
