<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style th:if="${checked}">
	#questionField {
		display: block;
	}
	</style>
	<style th:unless="${checked}">
	#questionField {
		display: none;
	}
	</style>
</head>
<body>
	<form action="" method="post">
		<fieldset>
			<legend>Edit lesson:</legend>
			Lesson title:<br>
			<input type="text" name="title" th:value="${lessonTitle}" maxlength="64" required/><br>
			Lesson text:<br>
			<textarea name="lessonText" rows="5" cols="40" maxlength="1024" required th:text="${lessonText}"></textarea><br>
			
			<input type="checkbox" name="quiz" th:checked="${checked}" onchange="myFunction(this)">
			Add question?<br>
			
			<div id="questionField">
				<input type="text" name="question" id="questionId" th:value="${question}" maxlength="280" th:required="${checked}"/><br>
				<input type="radio" name="option" value="1" id="radioId" th:required="${checked}" th:checked="${answer == 1}">
				<input type="text" name="option1" id="option1Id" th:value="${option1}" maxlength="40"/ th:required="${checked}"><br>
				<input type="radio" name="option" value="2" th:checked="${answer == 2}">
				<input type="text" name="option2" id="option2Id" th:value="${option2}" maxlength="40"/ th:required="${checked}"><br>
				<input type="radio" name="option" value="3" th:checked="${answer == 3}">
				<input type="text" name="option3" id="option3Id" th:value="${option3}" maxlength="40"/ th:required="${checked}"><br>
			</div>
			
			<input type="submit" value="Post">
		</fieldset>
	</form>
	<div th:if="${currPage != null}">
		<form action="" method="post">
			<input type="submit" class="button" name="delete" value="Delete" onClick="return confirm('Are you sure?')"/>
		</form>
	</div>
	<p>
		<a th:if="${currPage != null}" th:href="@{/course/show(page=${currPage})}">
			Cancel
		</a>
		<a th:if="${currPage == null}" href="/course">
			Cancel
		</a>
	</p>
	
	<script>
		function myFunction(checkbox) {
			var doc = document.getElementById("questionField");
			var ids = ["questionId", "radioId", "option1Id", "option2Id", "option3Id"];
			var i;
			if (checkbox.checked == true) {
				doc.style.display = "block";
				for (i = ids.length - 1; i >= 0; --i) {
					document.getElementById(ids[i]).setAttribute("required", "required");
				}
				
			} else {
				doc.style.display = "none";
				for (i = ids.length - 1; i >= 0; --i) {
					document.getElementById(ids[i]).removeAttribute("required");
				}
			}
		}
	</script>
</body>
</html>
