<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1><span th:text="${lessonTitle}"/></h1>
	<span th:text="${lessonText}"/>
	<p>
		<a href="/test" th:href="@{/course/show(page=${prevPage})}">
			<span th:if="${prevPage != null}" th:text="Previous"/>
		</a>
		<a href="/test" th:href="@{/course/show(page=${nextPage})}">
			<span th:if="${nextPage != null}" th:text="Next"/>
		</a>
	</p>
</body>
</html>
