<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1><span th:text="${lessonTitle}"></span></h1>
	<p th:text="${lessonText}"></p>

	<div th:if="${question} != null">
		<form action="" method="post">
			<span th:text="${question}"></span><br>
			<input type="radio" name="option" value="1" required>
			<span th:text="${option1}"></span><br>
			<input type="radio" name="option" value="2">
			<span th:text="${option2}"></span><br>
			<input type="radio" name="option" value="3">
			<span th:text="${option3}"></span><br>
			<input type="submit" value="Check">
			<span th:text="${msg}"></span><br>
		</form>
	</div>
	
	<div th:if="${prevPage != null}">
		<a th:href="@{/course/show(page=${prevPage})}">
			Previous
		</a>
	</div>
	<div th:if="${nextPage != null}">
		<a th:href="@{/course/show(page=${nextPage})}">
			Next
		</a>
	</div>
	
	<p>
		<a href="/test" th:href="@{/course/edit(page=${currPage})}">
			Edit
		</a>
	</p>
	<p>
		<a href="/course">
				To course page
		</a>
	<p/>
	<br>
	<table>
		Comments:<br>
		<span th:if="${lessonComments.isEmpty()}"><br>There are no comments for this lesson.</span>
		<br>
		<div th:each="lessonComment : ${lessonComments}">
			<tr>
				<span th:text="${lessonComment.date}"></span>
			</tr>
			<br>
			<tr>
				<span th:text="${lessonComment.name}"></span>:
			</tr>
			<br>
			<tr>
				<span th:text="${lessonComment.comment}"></span>
			</tr>
			<br><br>
		</div>
	</table>
	<br>
	<form action="" method="post">
		<fieldset>
			<legend>Join discussion:</legend>
			Your name:<br>
			<input type="text" name="name" maxlength="40" required><br>
			Your comment:<br>
			<textarea rows="5" cols="40" name="comment" maxlength="280" required></textarea><br><br>
			<input type="submit" value="Post">
		</fieldset>
	</form> 
</body>
</html>
